{% extends 'student_registration/menu.html' %}

{% block title %}Delete Registration Form{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
       <h1>Delete the Existing Student Registration</h1>
    </div>
    <div class="card-body">
        <h2>Do you really want to delete this student registration details</h2>
    </div>
    <div class="card-footer">
        <button class="btn btn-success">Yes</button>
        <button class="btn btn-danger">No</button>
    </div>
</div>
{% endblock %}